/*
will output css
*/
@import "vars";
@import "nav";



.align-header-center {
  text-align-all: center;
  padding-left: 180px;
}

.jumbotron {
  background-image: url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  padding-top: 275px;
  color: @myGrey;
}

.backgroundTopContent {
  padding: 15px;
}

.backgroundBottomContent {
  padding-bottom: 25px;
}

.bottomContentImage {
  padding-top: 50px;
}

.footer {
  background-color: @myGrey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.software-content {
  padding-top: 50px;
}

.software-content-left {
  padding: 30px;
}

.software-content-right {
  padding: 30px
}
