<div class="airsoft-top-content container-fluid" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-6">
            <img src="http://www.wyvernairsoft.com/uploads/2/1/7/4/21740352/8986751_orig.jpg" class="img-responsive" style="width:100%">
        </div>
        <div class="col-md-6" style="padding-top: 5%">
            <h3>What Is Airsoft?</h3>
            <p>According to Wikipedia, Airsoft is a game in which participants eliminate opponents by hitting each other with spherical non-metallic pellets launched via replica firearms called Airsoft guns.

                Gameplay varies in style and composition but often range from short-term skirmishes, organized scenarios, C.Q.B., field, military simulations (MilSim), or historical reenactments. They are played in some indoor courses, and outdoor (fields). Combat situations on the battlefield may involve the use of military tactics to achieve objectives set in each game. Participants may attempt to emulate the tactical equipment and accessories used by modern military and police organizations.</p>
            <p> Airsoft is a sport I play on regular occasion, and it promotes a high level of team work in some very trying circumstances. Unlike
            paintball, airsoft is taken a lot more seriously by the players, and the play is more geared towards re-enactment and realism.</p>
            <p>It's a rapidly growing sport and many sites can be found around the country, from woodland sites to urban site in old barracks, WW2
            bunkers and even in one case, an abandoned mall in the back of Reading!</p>
        </div>
    </div>
    <div class="row" style="padding-top: 15px">
        <div class="col-md-12" style="text-align: center">
            <h2>Videos</h2>
            <p>Some videos of previous games i've played, or airsoft videos I really like...</p>
            <div class="container-fluid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLtrkmwFpjDkvfibQnlC0H5QS6aaVGncEC" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>