<div class="nav navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="pull-left"><a href="index.html">BackGround</a></li>
                    <li class="pull-left"><a href="Software.html">Software</a></li>
                    <li class="navigation-logo"><a {{action "goToIndex"}}>RYAN SOPER</a></li>
                    <li class="pull-right"><a {{action 'goToAirsoft'}}>Airsoft</a></li>
                    <li class="pull-right"><a href="police.html">Police</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{outlet}}


<div class="footer">
    <div class="container">
        <p class="pull-left">T:07776128409</p>
        <p class="pull-right">Ryan Soper 2015</p>
    </div>
</div>
