<div class="jumbotron" style="height: 500px">
    <div class="container">
        <h1 style="padding-top: 275px;">This is Ryan...</h1>
    </div>
</div>

<div class="container">
    <div class="backgroundTopContent">
        <div class="row">
            <div class="col-md-6">
                <h2>My Background...</h2>
            </div>
            <div class="col-md-6">
                <p>I joined British Gas in September 2011 as an apprentice, and was immediately taken off to Wales for a week to Team build.
                On our return, apart from being very sore and achy, we were introduced to our actual jobs. Which comforted a lot of us, as we
                weren't sure if we'd accidentally applied for the marines given the 7am wakeups we'd experienced the previous week, where we'd
                have to jog down to the coast, dive in the sea, and then jog back again before we'd go to breakfast.
                Gravelly and Battle-Hardened (almost), I undertook a 2 year apprenticeship and on completion, was offered a position as a developer
                permanently at the company.</p>
            </div>
        </div>
    </div>

    <div class="backgroundBottomContent">
        <div class="row">
            <div class="col-md-6">
                <h3>Subheading 1</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                    Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                    sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                    turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                    convallis pharetra sapien, consequat sodales eros blandit ut.</p>

                <p> Mauris porttitor, nisl quis scelerisque luctus, odio lorem pretium mi,
                    vel tempor dui eros at odio. Nunc malesuada ipsum quis bibendum consequat.
                    Quisque facilisis convallis ipsum ut scelerisque. Pellentesque pretium augue
                    at iaculis elementum. Donec placerat ex at tristique tempor. In id blandit ligula,
                    ullamcorper consequat diam. Aenean tempor vestibulum ipsum, in fermentum leo cursus in.
                    Curabitur venenatis tempus ex ac congue. Nunc finibus, ligula non scelerisque consectetur,
                    augue ligula mattis nulla, a cursus mi tortor vitae diam. Aenean a facilisis felis.
                    Duis commodo diam at gravida facilisis. Praesent sagittis aliquam finibus. Fusce dapibus commodo felis,
                    et posuere massa posuere sit amet.</p>
            </div>

            <div class="bottomContentImage">
                <div class="container">
                  <div class="col-md-6">
                      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/1ca/3a4/03d0558.jpg" style="width:100%; height: 100%">
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>