<div class="police-main-content container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="police-jumbotron jumbotron" style="height: 500px">
                <div class="container">
                    <h1 style="padding-top: 35%; padding-left: 45%; color: #101010">Allo, Allo, Allo...</h1>
                </div>
            </div>
            <div class="col-md-5" style="text-align: center">
                <h2>How I Got Into The Police</h2>
                <p>When I joined Centrica, I undertook the Duke Of Edinburgh Gold award. One element of the award is to undertake some volunteering.
                    I chose to become a Street Angel in Woking, going on on one Friday and Saturday a month and offer assistance to the people in the
                    town centre that have had to much to drink or are otherwise vulnerable.</p>
                <p>Over the course of a year, I undertook a lot of 'shifts' in the town centre than was expected, as I saw my role as highly useful
                    and important within the town centre. I was given the responsibility of managing a team of 8 Street Angels as we attempted to assist
                    the public and prevent violence. I came into close contact with the police every weekend, even getting to the point that when it was
                    my birthday, I got a card from them!</p>
                <p>However, the level of violence I saw in the Town Centre, and the relatively little amount I could do to try and prevent it that lead
                    me to the police. I applied as a special constable, with the intention of coming back to Woking and 'Cleaning up the streets' so to speak.
                    I was accepted and entered training in August of 2013. After many sacrificed evenins and Weekends, I passed qualification, and out of the
                    initial 12 that made up our intake, I was one of 4 to actually attest in January 2014.</p>
                <p>I stayed on the Woking Neighbourhoods team for a good year before in March 2015, I moved over to Staines to become part of the Response
                    team there, a much more fast paced and skilled role, and I am currently one of only 5 Specials (out of a total 180) who have been cleared to
                    work on response.</p>

            </div>
            <div class="col-md-3" style="text-align: center">
                <div class="row">
                    <h2>Duty: Woking Town Emergency Button</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                        Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                        sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                        turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                        convallis pharetra sapien, consequat sodales eros blandit ut.</p>

                </div>
                <div class="row">
                    <h2>Duty: Staines Response, Switchblade Silliness</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                        Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                        sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                        turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                        convallis pharetra sapien, consequat sodales eros blandit ut.</p>

                </div>

            </div>
          <div class="col-md-1"></div>
            <div class="col-md-3" style="text-align: center">
                <div class="row">
                    <h2>Duty: Woking Burglars Cat and Mouse</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                        Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                        sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                        turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                        convallis pharetra sapien, consequat sodales eros blandit ut.</p>

                </div>
                <div class="row">
                    <h2>Duty: Staines "Has he got a gun?"</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                        Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                        sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                        turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                        convallis pharetra sapien, consequat sodales eros blandit ut.</p>

                </div>
            </div>
            </div>

        <div class="col-md-3" style="text-align: center">
            <<img src="http://i3.getsurrey.co.uk/incoming/article8342818.ece/ALTERNATES/s615/JS53423793.jpg" class="img-responsive" style="width:100%">
            <h2>From The News...</h2>
            <p><b>A CHRISTMAS NIGHT OUT WITH SURREY POLICE</b></p>
            <P>When I asked Surrey Police if I could head out on a night shift with one of their officers, the force was all too happy to oblige.

                Slightly alarmed by the warning that I could be abandoned at any time during my shift – if the officer were to be called to a particularly serious incident – I layered on the thermals and turned up at Guildford police station at 10pm on Saturday (December 20).

                I picked that date assuming the town centres of our otherwise quiet county would be in turbo pre-Christmas partying mode, and I was not wrong.

                As I clambered into the passenger seat of Inspector Adam Smith’s police car, he informed me that the night before – ‘mad Friday’ – had lived up to its reputation, and that there would be 20 extra police officers on the beat in West Surrey that night, and an additional 24 officers in a police support unit in the county, to deal with the anticipated drama.

                I was given a tour of the police cells at Guildford, in which five people were residing, shortly after 10pm. I caught a glimpse of a pair of women’s boots and other items of clothing lining the doors. By 5.30am, every cell was occupied.

                As Insp Smith and I set off through the streets, all was fairly quiet, but an increased police presence was definitely detectable.</P>
            <p>
                We headed to the notoriously busy Chertsey Street in Woking, but a regular police closure of the road during weekend nights to reduce violence, appeared to be doing its job.

                There was a heavy police presence, with clusters of officers visible.

                With music thumping in the background, special constable Ryan Soper said: “There are lots of people out drinking tonight but there seems to be a positive festive vibe. People seem happy to be out enjoying themselves.”

                By 4.50am however, Woking Police had contacted me on Twitter to say: “It was the calm before the storm...five arrests tonight (fighting and being too drunk).”

                Things were hotting up in the Guildford area too. No sooner had we returned to the car, we were alerted to an alleged common assault incident in Worplesdon Road.

                Police had cordoned off a section of the pavement, where smashed glass was visible.

                Insp Smith spoke to his colleagues to check everything was in hand before the ‘blues-and-twos’ were on and we were haring to another incident, near Popworld nightclub, in Bridge Street.

                In total, we were aware of four alleged assaults recorded during the night, including another outside the Friary Centre in Guildford and a domestic incident in Chilworth. At least two people were knocked unconscious.

                After a tour of the Surrey Police headquarters, at Mount Browne – where I met operators in the force control rooms dealing with calls from the public, and communication with officers themselves, we drove out to Godalming.

                While in the area we were asked to meet a teenager who had set off some type of bangers, and wanted to hand them over.

                A little inebriated, we returned him home.
            </p>
            <<img src="http://i2.getsurrey.co.uk/incoming/article8342819.ece/ALTERNATES/s615b/JS53423911.jpg" class="img-responsive" style="width:100%">
            <p>
                By the end of my shift, at 4.30am, there were 13 people in custody in Guildford, along with those in the ‘hold’.

                Those in custody were being investigated for alleged incidents including attempted murder, assault, taking without owners consent, affray, grievous bodily harm, actual bodily harm, being drunk and disorderly, and drink-driving.

                Many of them would be held well into the next day.

                Insp Smith said in his experience, New Year’s Eve was the night most drink-related incidents occur.

                “People have been partying hard for a long time, and perhaps their tolerance is reducing, and there is a psychology behind it too,” he said. “People tend to act like there is no tomorrow.

                “The trick for us, like tonight, is to take action early in the evening and use our dispersal powers to clear the area.

                “Licensed premises are increasingly helping too, and have started clearing their own areas after close.”

                Having been with the force almost all his working life, Insp Smith said there were still days when his job "gets to him".

                Being on the scene shortly after the A3 coach crash, which killed three people in September 2012, stays with him, and more recently, he was moved by the death of 11-year-old Pravini Angel Parathisan, who was killed when the car she was travelling in came off the road and hit a tree on December 8.

                “I had to call my wife and check the girls were alright,” he said. “We are all human and some of the things we deal with are truly awful.

                “My role is to bring ordered chaos from absolute chaos. I usually arrive after an incident has happened, but I can help the family. I can help by helping them get the answers they need.”
            </p>
            <p> via <a href="http://www.getsurrey.co.uk/news/surrey-news/christmas-night-out-beat-surrey-8342776">GetSurrey...</a> </p>
        </div>
    </div>

    </div>