<html>
<body>
<div class="container">
    <div class="software-content">
        <div class="row">
            <div class="col-md-6 software-content-left">
                <img src="http://placehold.it/750x500" class="img-responsive">
                <div class="row text-center">
                    <h3>How Am I Here?</h3>
                    <p>As mentioned on the first page, I joined British Gas as an apprentice. Before this, I was at college studying a
                    mismatch of Law, Economics, Computing and Business Studies. In my spare time, I was attempting to maintain a small
                    freight forwarding operation with reasonable success.</p>
                    <p>Once I applied as an apprentice, I underwent a three stage recruitment process. A telephone interview, where some
                    more general questions were asked. An assessment day, where I was tested in my ability to work as a team, as well as
                    take initiative and lead the team without direction, and then finally I was interviewed by my soon to be manager, Jonathan Lees.</p>
                </div>
            </div>
            <div class="col-md-6 software-content-right">
                <img src="http://placehold.it/750x500" class="img-responsive">
                <div class="row text-center">
                    <h3>Something else about Software</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                        Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                        sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                        turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                        convallis pharetra sapien, consequat sodales eros blandit ut.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus nibh. Maecenas fermentum tellus velit.
                        Suspendisse vitae sollicitudin risus. Nullam quis nisi nec metus maximus fringilla et ac libero. Praesent
                        sed augue justo. Cras magna urna, fermentum vitae congue molestie, luctus vel nunc. Aenean hendrerit ac
                        turpis vitae vulputate. Integer erat leo, tincidunt sit amet commodo vel, bibendum nec nisi. Phasellus
                        convallis pharetra sapien, consequat sodales eros blandit ut.</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>